.Navbar{
  display: center;
  background-color: aliceblue;
  border-color: aliceblue;
  margin: 5px;
  padding: 10px;
  border: 10px;
  gap: 5px;
}

.cover{
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.Header{
    align-content: center;
  
}